<nav>
    <div class="site-title">
        <a href="/">Abe's Way</a>
        <!-- <p>Ibrahim Kebbeh</p> -->
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="algorithms">Algorithms</a></li>
        <li><a href="/engineering-blog">Engineering</a></li>
        <li><a href="/overwatch-chronicles">Overwatch</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Entry</a></li>
    </ul>
</nav>